services:
  questdb:
    image: questdb/questdb:9.3.1
    ports: 
      - "8812:8812"  # Postgres Wire Protocol
      - "9000:9000"  # Web Console
      - "9009:9009"  # ILP (Ingress)
    environment:
      - TZ=Europe/Paris
      - QDB_PG_USER=admin
      - QDB_PG_PASSWORD=quest
    volumes:
      - ./questdb/data:/var/lib/questdb
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:9003/ || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5
    
  frontend:
    build: ./frontend
    depends_on:
      questdb:
        condition: service_healthy
    ports: [ "8501:8501" ]
    environment:
      - TZ=Europe/Paris

  backend:
    build: ./backend
    depends_on:
      questdb:
        condition: service_healthy
    ports: [ "5000:5000" ]
    environment:
      - TZ=Europe/Paris

  prometheus:
    image: prom/prometheus:v3.9.1
    ports: [ "9090:9090" ]
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  blackbox_exporter:
    image: prom/blackbox-exporter:v0.28.0
    ports: [ "9115:9115" ]

  loki:
    image: grafana/loki:3.6
    ports: [ "3100:3100" ]
    command: -config.file=/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana:12.3.1
    depends_on:
      questdb:
        condition: service_healthy
    ports: [ "3000:3000" ]
    environment:
      - TZ=Europe/Paris
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_DASHBOARDS_DEFAULT_TIMEZONE=Europe/Paris
      - GF_INSTALL_PLUGINS=questdb-questdb-datasource
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning